<%# locals: (article:) -%>
<% if article.errors.any? %>
  <div class="mb-4">
    <%= lui.alert(type: :error) do %>
      <%= pluralize(article.errors.count, "error") %>
      prevented this article from being saved:
      <ul class="mt-2 list-inside list-disc text-sm">
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= form_with model: [:admin, article], class: "space-y-4 max-w-2xl" do |form| %>
  <%= lui.input(name: :title, form: form, label: "Title") %>
  <%= lui.input(name: :url, form: form, type: :url, label: "URL") %>
  <%= lui.select(name: :blog_id, form: form, label: "Blog", options_for_select: Blog.order(:name).pluck(:name, :id)) %>
  <%= lui.textarea(name: :summary, form: form, label: "Summary", rows: 3) %>
  <%= lui.input(name: :published_at, form: form, type: :datetime_local, label: "Published At") %>
  <%= lui.switch(name: :processed, form: form, label: "Processed", enabled: article.processed?) %>
  <%= lui.input(name: :featured_in_issue, form: form, type: :number, label: "Featured in Issue") %>

  <div><%= lui.button(type: :submit) { article.persisted? ? "Update Article" : "Create Article" } %></div>
<% end %>
