<%# locals: (tracked_link:) -%>
<% if tracked_link.errors.any? %>
  <div class="mb-4">
    <%= lui.alert(type: :error) do %>
      <%= pluralize(tracked_link.errors.count, "error") %>
      prevented this tracked link from being saved:
      <ul class="mt-2 list-inside list-disc text-sm">
        <% tracked_link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= form_with model: [:admin, tracked_link], class: "space-y-4 max-w-2xl" do |form| %>
  <%= lui.input(name: :destination_url, form: form, type: :url, label: "Destination URL") %>

  <div>
    <%= lui.button(type: :submit) { tracked_link.persisted? ? "Update Tracked Link" : "Create Tracked Link" } %>
  </div>
<% end %>
