<%# locals: (reddit_post:) -%>
<% if reddit_post.errors.any? %>
  <div class="mb-4">
    <%= lui.alert(type: :error) do %>
      <%= pluralize(reddit_post.errors.count, "error") %>
      prevented this post from being saved:
      <ul class="mt-2 list-inside list-disc text-sm">
        <% reddit_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= form_with model: [:admin, reddit_post], class: "space-y-4 max-w-2xl" do |form| %>
  <%= lui.input(name: :reddit_id, form: form, label: "Reddit ID") %>
  <%= lui.input(name: :title, form: form, label: "Title") %>
  <%= lui.input(name: :url, form: form, type: :url, label: "URL") %>
  <%= lui.input(name: :external_url, form: form, type: :url, label: "External URL") %>
  <%= lui.select(name: :subreddit, form: form, label: "Subreddit", options_for_select: options_for_select([["r/ruby", "ruby"], ["r/rails", "rails"]], reddit_post.subreddit), include_blank: false) %>
  <%= lui.input(name: :author, form: form, label: "Author") %>
  <%= lui.input(name: :score, form: form, type: :number, label: "Score") %>
  <%= lui.input(name: :num_comments, form: form, type: :number, label: "Comments") %>
  <%= lui.input(name: :posted_at, form: form, type: :datetime_local, label: "Posted At") %>
  <%= lui.switch(name: :processed, form: form, label: "Processed", enabled: reddit_post.processed?) %>
  <%= lui.input(name: :featured_in_issue, form: form, type: :number, label: "Featured in Issue") %>

  <div><%= lui.button(type: :submit) { reddit_post.persisted? ? "Update Post" : "Create Post" } %></div>
<% end %>
