<%# locals: (blog:) -%>
<% if blog.errors.any? %>
  <div class="mb-4">
    <%= lui.alert(type: :error) do %>
      <%= pluralize(blog.errors.count, "error") %> prevented this blog from being saved:
      <ul class="mt-2 list-disc list-inside text-sm">
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= form_with model: [:admin, blog], class: "space-y-4 max-w-2xl" do |form| %>
  <%= lui.input(name: :name, form: form, label: "Name") %>
  <%= lui.input(name: :url, form: form, type: :url, label: "URL") %>
  <%= lui.input(name: :rss_url, form: form, type: :url, label: "RSS URL") %>
  <%= lui.textarea(name: :description, form: form, label: "Description", rows: 3) %>
  <%= lui.input(name: :twitter, form: form, label: "Twitter") %>
  <%= lui.switch(name: :active, form: form, label: "Active", enabled: blog.active?) %>
  <%= lui.input(name: :tags_string, form: form, label: "Tags", value: blog.tags&.join(", "), description: "Comma-separated") %>
  <div>
    <%= lui.button(type: :submit) { blog.persisted? ? "Update Blog" : "Create Blog" } %>
  </div>
<% end %>
